@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
body, html {
  background-color: #ffffff;
}
#portafolio-item {
  cursor: pointer;
}
.rk-logo {
  font-family: 'Great Vibes', cursive;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 2.25px;
  text-align: center;
  width: 20%;
}
.rk-logo sup {
  font-size: .5625rem;
  position: relative;
  top: -1px;
}
@media (min-width: 64em) {
  .rk-logo {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
  }
}

.rk-item {
  background-color: #fff;
  margin-top: 8px;
  margin-bottom: 8px;
}

.item-content {
  padding: 10px;
}

.item-tags {
  color: #fff;
  border-radius: 25px;
  padding: 0px 1em 3px;
  background-color: #0098FF;
}

.white {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0px 10px 0px 10px;
  border-radius: 25px;
}

.rk-portfolio-title {
  margin-top: 20px;
}
