---
layout: default
---
<main>
	<section class="grid-container blogpost-head-container">
		<h1>{{ page.title }}</h1>
		<p>publicado el {{ page.date | date: "%d/%m/%Y" }}</p>
		<div>{% include read_time.html %}</div>
	</section>
	<section class="blogpost-main-container">
		<div class="grid-container">
			{% if page.toc == true %}
			<div class="blogpost__container_with_toc">
				<div class="blogpost__content-table blogcard">
					{{ content | toc_only }}
				</div>
				<article class="blogpost__main-content blogcard">
					{{ content }}
				</article>
			</div>
			{% else %}	
			<div class="blogpost__container_no_toc">
				<article class="blogpost__main-content blogcard">
					{{ content }}
				</article>
			</div>			
				{% endif %}
		</div>
  	</section>

	<section class="contact-main-container">
		<div>
			<img src="/assets/img/newsletter.png" alt="Enviar mensaje">
			<div class="contact-left">
				<a href="">Contacto</a>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit, possimus eveniet similique culpa.</p>
			</div>
		</div>
		<div>
			<img src="/assets/img/like.png" alt="Escribir reseña">
			<div class="contact-right">
				<a href="">Escribe</a>
				<p>Placeat optio nostrum tempora ab excepturi dolores nemo.</p>
			</div>
		</div>
	</section>
</main>
