---
layout: default
---
<main class="blogs-main">
	<section class="blogs-news-container">
		<div class="blogs-main-new grid-container">
			<h3>Noticias</h3>
			<div class="blogs-news-img-container">
				<img src="/assets/img/main-news-img.png" alt="Imagen principal de noticias">
			</div>
			<div class="blogs-news-info-container">
				<h2>Título del Blogpost</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit odit doloribus id in aut commodi laudantium quidem corrupti at fuga quod consectetur.</p>
				<a href="blog.html" class="blogs-button">Leer más</a>
			</div>
		</div>
	</section>
	<section class="blogs-posts-container">
		<div class="grid-container">
			<h3>Ártículos</h3>
			{{ content }}
		</div>
	</section>
</main>
