---
layout: default
---
<main>
	<section class="grid-container blogpost-img-container">
		<img src="{{ page.thumbnail }}" alt="{{ page.title }}">
	</section>
	<section class="blogpost-main-container">
		<div class="grid-container">
			<h1>{{ page.title }}</h1>
			<p>publicado el {{ page.date | date: "%d/%m/%Y" }}</p>
			<article>
				{{ content }}
			</article>
		</div>
  	</section>

	<section class="contact-main-container">
		<div>
			<img src="/assets/img/newsletter.png" alt="Enviar mensaje">
			<div class="contact-left">
				<a href="">Contacto</a>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit, possimus eveniet similique culpa.</p>
			</div>
		</div>
		<div>
			<img src="/assets/img/like.png" alt="Escribir reseña">
			<div class="contact-right">
				<a href="">Escribe</a>
				<p>Placeat optio nostrum tempora ab excepturi dolores nemo.</p>
			</div>
		</div>
	</section>
</main>
