<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{{ page.title}} | Runcoding</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/css/aurora-pack.min.css">
    <link rel="stylesheet" href="/assets/css/aurora-theme-base.min.css">
    <link rel="stylesheet" href="/assets/css/urku.css">
    <link rel="stylesheet" href="/assets/css/app.css">
  </head>
  <body class="top-fixed">
    <header class="ae-container-fluid ae-container-fluid--full rk-header ">
      <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
      <label for="mobile-menu">
        <svg>
          <use xlink:href="/assets/img/symbols.svg#bar"></use>
        </svg>
        <svg>
          <use xlink:href="/assets/img/symbols.svg#bar"></use>
        </svg>
        <svg>
          <use xlink:href="/assets/img/symbols.svg#bar"></use>
        </svg>
      </label>
      <div class="ae-container-fluid rk-topbar">
        <h1 class="rk-logo" ><a href="/"> by Ismael López</a></h1>
        <nav class="rk-navigation">
          {% include navigation.html %}
          <form class="rk-search">
            <input type="text" placeholder="Search" id="urku-search" class="rk-search-field">
            <label for="urku-search">
              <svg>
                <use xlink:href="/assets/img/symbols.svg#icon-search"></use>
              </svg>
            </label>
          </form>
        </nav>
      </div>
    </header>

    {{ content }}

    <footer class="ae-container-fluid rk-footer ">
      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
          <ul class="rk-menu rk-footer-menu">
            <li class="rk-menu__item"><a href="/about/" class="rk-menu__link">About</a>
            </li>
            <li class="rk-menu__item"><a href="/contact/" class="rk-menu__link">Contact</a>
            </li>
          </ul>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center">
          <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© 2017 </span><span class="ae-u-bolder">Runcoding </span> All rights reserved.</p>
          <a href="https://www.facebook.com/ismaeldevmw" target="_blank" class="rk-social-btn ">
            <svg>
              <use xlink:href="/assets/img/symbols.svg#icon-facebook"></use>
            </svg>
          </a>
          <a href="https://twitter.com/ismaeldevmw" target="_blank" class="rk-social-btn ">
            <svg>
              <use xlink:href="/assets/img/symbols.svg#icon-twitter"></use>
            </svg>
          </a>
          <a href="https://www.instagram.com/ismaeldevmw/" target="_blank" class="rk-social-btn ">
            <svg>
              <use xlink:href="/assets/img/symbols.svg#icon-pinterest"></use>
            </svg>
          </a>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
          <p class="rk-footer__text rk-footer__by">Powered by <a href="https://www.netlify.com/" class="ae-u-bolder">Netlify</a></p>
        </div>
      </div>
    </footer>
    <script src="/assets/js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
  </body>
</html>
